@import '../../variables';
.search {
  .alert-danger {
    background-color: transparent;
    color: indianred;
    border-color: indianred;
    h4 {
      color: indianred;
    }
  }
  .nav-tabs {
    border-bottom-color: $secondary;
    .nav-item {
      flex-grow: 1;
      &:first-child {
        flex-grow: 2;
        background-color: $primary--dark;
      }
      &:nth-child(2) {
        .nav-link {
          text-align: right;
          padding-right: 0.5em;
        }
      }
      .nav-link {
        font-size: 1.125rem;
        font-weight: 600;
        border-radius: 0;
        border-width: 0 0 4px 0;
        position: relative;
        background-color: transparent;
        &:hover,
        &:focus {
          color: $info;
          border-color: $info;
        }
      }
      .nav-link.active,
      &.nav-item.show .nav-link {
        color: $light;
        border-color: $light;
      }
    }
  }
}
