@import './variables';
@import '~bootstrap/scss/bootstrap.scss';
.nav-link {
  color: $info;
  border-bottom: 2px solid transparent;
  &.current {
    border-bottom: 2px solid currentColor;
  }
}

button.main_button {
  display: inline-block;
  width: max-content;
  padding: 0.75em 1.5em;
  font-size: 1em;
  background-color: hsl(270, 50%, 30%);
  color: hsl(270, 50%, 75%);
  border: none;
  font-weight: normal;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  &:hover {
    background-color: hsl(270, 50%, 50%);
  }
  &.main_button--small {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    // background-color: hsl(270, 50%, 25%);
    // color: hsl(270, 50%, 75%);
  }
}

.card {
  transition: all 0.25s ease-in-out;
  .card-body {
    text-align: center;
  }
  a {
    color: $light;
    text-decoration: none;
  }
  .card__image {
    width: 100%;
  }
  @media (hover: hover) {
    &.card--movie:hover {
      background-color: hsl(270, 50%, 10%);
      transform: scale(1.05);
    }
  }
  @media (min-width: 768px) {
    .card-body {
      text-align: left;
    }
    .card__image {
      width: 25%;
    }
  }
}
// movie view
.card--movieview {
  &:only-child {
    padding-bottom: 4em;
  }

  .card--movieview__image {
    max-width: 500px;
    margin: 0 auto;
  }

  .card--movieview__header {
    background-color: transparent;
    // background-color: hsl(270, 50%, 15%);
  }
}

// favorites
.favorite__button {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  transform: scale(1.5);
  color: $primary;
  @media (hover: hover) {
    &:hover {
      color: hsl(270, 50%, 75%);
    }
  }
  @media (min-width: 1400px) {
    transform: scale(2);
  }
}
.card--movieview .favorite__button {
  position: relative;
  top: unset;
  right: unset;
}
.favorite__tooltip {
  .tooltip-inner {
    width: fit-content;
    max-width: unset;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    color: white;
    background-color: $primary;
  }
  .tooltip-arrow {
    &::before {
      border-top-color: $primary;
    }
  }
}
