$primary: hsl(270, 50%, 40%);
$primary--dark: hsl(270, 50%, 10%);
$secondary: hsl(270, 50%, 25%);
$dark: hsl(270, 50%, 10%);
$light: hsl(270, 50%, 85%);
$info: hsl(270, 50%, 65%);
$body-bg: hsl(270, 50%, 5%);
$body-color: $light;
$headings-color: $light;
